pkgbase = spill-bin
	pkgdesc = Agentic AI TUI that runs your local model first and spills over when it stalls
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/randallyash/spillover
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = gcc-libs
	provides = spill
	conflicts = spill
	conflicts = spill-bin-git
	options = !strip
	source_x86_64 = spill-0.1.1-x86_64.tar.xz::https://github.com/randallyash/spillover/releases/download/v0.1.1/spill-x86_64-unknown-linux-gnu.tar.xz
	sha256sums_x86_64 = 44d0c4dab52be3a6a5415f3d75be4531336761a9f66c73cd620755cd06407dad
	source_aarch64 = spill-0.1.1-aarch64.tar.xz::https://github.com/randallyash/spillover/releases/download/v0.1.1/spill-aarch64-unknown-linux-gnu.tar.xz
	sha256sums_aarch64 = 24e8aff16a70aae9d7dba6f055e47ab36fc94e4e1d95e2582006cbb545a7615f

pkgname = spill-bin
