pkgbase = spill-bin
	pkgdesc = Agentic AI TUI that runs your local model first and spills over when it stalls
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/randallyash/spillover
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = gcc-libs
	provides = spill
	conflicts = spill
	conflicts = spill-bin-git
	options = !strip
	options = !debug
	source_x86_64 = spill-0.2.0-x86_64.tar.xz::https://github.com/randallyash/spillover/releases/download/v0.2.0/spill-x86_64-unknown-linux-gnu.tar.xz
	sha256sums_x86_64 = b529095103f1476bdcb729294c8db3376302b034b96c030ab865206b79f158dd
	source_aarch64 = spill-0.2.0-aarch64.tar.xz::https://github.com/randallyash/spillover/releases/download/v0.2.0/spill-aarch64-unknown-linux-gnu.tar.xz
	sha256sums_aarch64 = 66f2c58e4112c90967cdc989b4965607892a6d1c3f17f45a8ebb1a79e6fa2feb

pkgname = spill-bin
